:root {
    --color-primary: #3b5998!important;
}

html, body {
    overflow: hidden;
}

.map__container {
    height: 100%;
}

.ct-main__content {
    background-image: unset!important;
    padding: unset!important;
}

#map {
    height: 100%;
}
